<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>~a</key><string>અ</string>
<key>~aa</key><string>આ</string>
<key>~A</key><string>આ</string>
<key>~i</key><string>ઇ</string>
<key>~ee</key><string>ઈ</string>
<key>~I</key><string>ઈ</string>
<key>~u</key><string>ઉ</string>
<key>~oo</key><string>ઊ</string>
<key>~U</key><string>ઊ</string>
<key>~tR</key><string>ઋ</string>
<key>~En</key><string>ઍ</string>
<key>~e</key><string>એ</string>
<key>~ai</key><string>ઐ</string>
<key>~Ao</key><string>ઑ</string>
<key>~o</key><string>ઓ</string>
<key>~au</key><string>ઔ</string>
<key>~AO</key><string>ઁ</string>
<key>~Om</key><string>ૐ</string>
<key>~M</key><string>ં</string>
<key>~H</key><string>ઃ</string>
<key>~:</key><string>ઃ</string>
<key>AO</key><string>ઁ</string>
<key>H</key><string>ઃ</string>
<key>:</key><string>ઃ</string>
<key>Ao</key><string>ઑ</string>
<key>M</key><string>ં</string>
<key>a</key><string></string>
<key>aa</key><string>ા</string>
<key>A</key><string>ા</string>
<key>i</key><string>િ</string>
<key>e</key><string>ે</string>
<key>ee</key><string>ી</string>
<key>I</key><string>ી</string>
<key>u</key><string>ુ</string>
<key>oo</key><string>ૂ</string>
<key>U</key><string>ૂ</string>
<key>ai</key><string>ૈ</string>
<key>o</key><string>ો</string>
<key>au</key><string>ૌ</string>
<key>*</key><string>્</string>
<key>tR</key><string>ૃ</string>
<key>TR</key><string>ૄ</string>
<key>k</key><string>ક</string>
<key>kh</key><string>ખ</string>
<key>g</key><string>ગ</string>
<key>gh</key><string>ઘ</string>
<key>G</key><string>ઙ</string>
<key>ch</key><string>ચ</string>
<key>Ch</key><string>છ</string>
<key>chh</key><string>છ</string>
<key>j</key><string>જ</string>
<key>jh</key><string>ઝ</string>
<key>nY</key><string>ઞ</string>
<key>t</key><string>ટ</string>
<key>T</key><string>ઠ</string>
<key>d</key><string>ડ</string>
<key>D</key><string>ઢ</string>
<key>N</key><string>ણ</string>
<key>th</key><string>ત</string>
<key>Th</key><string>થ</string>
<key>dh</key><string>દ</string>
<key>Dh</key><string>ધ</string>
<key>n</key><string>ન</string>
<key>p</key><string>પ</string>
<key>ph</key><string>ફ</string>
<key>b</key><string>બ</string>
<key>bh</key><string>ભ</string>
<key>B</key><string>ભ</string>
<key>Bh</key><string>ભ</string>
<key>m</key><string>મ</string>
<key>y</key><string>ય</string>
<key>r</key><string>ર</string>
<key>R</key><string>઱</string>
<key>l</key><string>લ</string>
<key>L</key><string>ળ</string>
<key>v</key><string>વ</string>
<key>sh</key><string>શ</string>
<key>Sh</key><string>ષ</string>
<key>s</key><string>સ</string>
<key>h</key><string>હ</string>
<key>z</key><string>જ્ઞ</string>
<key>RrR</key><string>૱</string>
<key>f</key><string>ફ</string>
<key>Y</key><string>ય</string>
</dict>
</plist>
