<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>~a</key><string>ಅ</string>
<key>~aa</key><string>ಆ</string>
<key>~A</key><string>ಆ</string>
<key>~i</key><string>ಇ</string>
<key>~ee</key><string>ಈ</string>
<key>~I</key><string>ಈ</string>
<key>~u</key><string>ಉ</string>
<key>~oo</key><string>ಊ</string>
<key>~U</key><string>ಊ</string>
<key>~e</key><string>ಎ</string>
<key>~ae</key><string>ಏ</string>
<key>~E</key><string>ಏ</string>
<key>~ai</key><string>ಐ</string>
<key>~o</key><string>ಒ</string>
<key>~oa</key><string>ಓ</string>
<key>~O</key><string>ಓ</string>
<key>~au</key><string>ಔ</string>
<key>~tR</key><string>ಋ</string>
<key>~TR</key><string>ೠ</string>
<key>~M</key><string>ಂ</string>
<key>~H</key><string>ಃ</string>

<key>a</key><string></string>
<key>*</key><string>್</string>
<key>aa</key><string>ಾ</string>
<key>A</key><string>ಾ</string>
<key>i</key><string>ಿ</string>
<key>ee</key><string>ೀ</string>
<key>I</key><string>ೀ</string>
<key>u</key><string>ು</string>
<key>oo</key><string>ೂ</string>
<key>U</key><string>ೂ</string>
<key>e</key><string>ೆ</string>
<key>ae</key><string>ೇ</string>
<key>E</key><string>ೇ</string>
<key>ai</key><string>ೈ</string>
<key>o</key><string>ೊ</string>
<key>oa</key><string>ೋ</string>
<key>O</key><string>ೋ</string>
<key>au</key><string>ೌ</string>
<key>tR</key><string>ೃ</string>
<key>TR</key><string>ೄ</string>
<key>M</key><string>ಂ</string>
<key>H</key><string>ಃ</string>

<key>k</key><string>ಕ</string>
<key>K</key><string>ಕ</string>
<key>kh</key><string>ಖ</string>
<key>Kh</key><string>ಖ</string>
<key>g</key><string>ಗ</string>
<key>gh</key><string>ಘ</string>
<key>nG</key><string>ಙ</string>
<key>ch</key><string>ಚ</string>
<key>Ch</key><string>ಛ</string>
<key>j</key><string>ಜ</string>
<key>jh</key><string>ಝ</string>
<key>J</key><string>ಝ</string>
<key>Jh</key><string>ಝ</string>
<key>nY</key><string>ಞ</string>
<key>t</key><string>ಟ</string>
<key>T</key><string>ಠ</string>
<key>d</key><string>ಡ</string>
<key>D</key><string>ಧ</string>
<key>N</key><string>ಣ</string>
<key>th</key><string>ತ</string>
<key>Th</key><string>ಥ</string>
<key>dh</key><string>ದ</string>
<key>Dh</key><string>ಧ</string>
<key>n</key><string>ನ</string>
<key>p</key><string>ಪ</string>
<key>ph</key><string>ಫ</string>
<key>b</key><string>ಬ</string>
<key>B</key><string>ಭ</string>
<key>bh</key><string>ಭ</string>
<key>Bh</key><string>ಭ</string>
<key>m</key><string>ಮ</string>
<key>y</key><string>ಯ</string>
<key>r</key><string>ರ</string>
<key>rR</key><string>ಱ</string>
<key>l</key><string>ಲ</string>
<key>L</key><string>ಳ</string>
<key>v</key><string>ವ</string>
<key>w</key><string>ವ</string>
<key>sh</key><string>ಶ</string>
<key>Sh</key><string>ಷ</string>
<key>s</key><string>ಸ</string>
<key>h</key><string>ಹ</string>
<key>f</key><string>ೞ</string>
</dict>
</plist>
