<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>~a</key>
	<string>അ</string>
	<key>~aa</key>
	<string>ആ</string>
	<key>~i</key>
	<string>ഇ</string>
	<key>~ee</key>
	<string>ഈ</string>
	<key>~u</key>
	<string>ഉ</string>
	<key>~oo</key>
	<string>ഊ</string>
	<key>~Rr</key>
	<string>ഋ</string>
	<key>~e</key>
	<string>എ</string>
	<key>~ae</key>
	<string>ഏ</string>
	<key>~ai</key>
	<string>ഐ</string>
	<key>~o</key>
	<string>ഒ</string>
	<key>~oa</key>
	<string>ഓ</string>
	<key>~au</key>
	<string>ഔ</string>
	<key>~Am</key>
	<string>ം</string>
	<key>~Ahh</key>
	<string>ഃ</string>
	<key>Am</key>
	<string>ം</string>
	<key>Ahh</key>
	<string>ഃ</string>
	<key>a</key>
	<string></string>
	<key>*</key>
	<string>്</string>
	<key>aa</key>
	<string>ാ</string>
	<key>i</key>
	<string>ി</string>
	<key>ee</key>
	<string>ീ</string>
	<key>u</key>
	<string>ു</string>
	<key>oo</key>
	<string>ൂ</string>
	<key>Rr</key>
	<string>ൃ</string>
	<key>e</key>
	<string>െ</string>
	<key>ae</key>
	<string>േ</string>
	<key>ai</key>
	<string>ൈ</string>
	<key>o</key>
	<string>ൊ</string>
	<key>oa</key>
	<string>ോ</string>
	<key>au</key>
	<string>ൌ</string>
	<key>k</key>
	<string>ക</string>
	<key>K</key>
	<string>ഖ</string>
	<key>g</key>
	<string>ഗ</string>
	<key>G</key>
	<string>ഘ</string>
	<key>Gh</key>
	<string>ഘ</string>
	<key>ng</key>
	<string>ങ</string>
	<key>c</key>
	<string>ച</string>
	<key>ch</key>
	<string>ച</string>
	<key>C</key>
	<string>ഛ</string>
	<key>Ch</key>
	<string>ഛ</string>
	<key>j</key>
	<string>ജ</string>
	<key>J</key>
	<string>ഝ</string>
	<key>Jh</key>
	<string>ഝ</string>
	<key>ny</key>
	<string>ഞ</string>
	<key>t</key>
	<string>ട</string>
	<key>T</key>
	<string>ഠ</string>
	<key>d</key>
	<string>ഡ</string>
	<key>D</key>
	<string>ഢ</string>
	<key>N</key>
	<string>ണ</string>
	<key>th</key>
	<string>ത</string>
	<key>dh</key>
	<string>ഥ</string>
	<key>Dh</key>
	<string>ദ</string>
	<key>DH</key>
	<string>ധ</string>
	<key>n</key>
	<string>ന</string>
	<key>p</key>
	<string>പ</string>
	<key>f</key>
	<string>ഫ</string>
	<key>ph</key>
	<string>ഫ</string>
	<key>b</key>
	<string>ബ</string>
	<key>bh</key>
	<string>ബ</string>
	<key>B</key>
	<string>ഭ</string>
	<key>Bh</key>
	<string>ഭ</string>
	<key>m</key>
	<string>മ</string>
	<key>y</key>
	<string>യ</string>
	<key>r</key>
	<string>ര</string>
	<key>R</key>
	<string>റ</string>
	<key>l</key>
	<string>ല</string>
	<key>L</key>
	<string>ള</string>
	<key>zh</key>
	<string>ഴ</string>
	<key>v</key>
	<string>വ</string>
	<key>sh</key>
	<string>ശ</string>
	<key>Sh</key>
	<string>ഷ</string>
	<key>s</key>
	<string>സ</string>
	<key>h</key>
	<string>ഹ</string>
</dict>
</plist>
