<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>~a</key><string>ଅ</string>
<key>~aa</key><string>ଆ</string>
<key>~i</key><string>ଇ</string>
<key>~ee</key><string>ଈ</string>
<key>~u</key><string>ଉ</string>
<key>~oo</key><string>ଊ</string>
<key>~rR</key><string>ଋ</string>
<key>~e</key><string>ଏ</string>
<key>~ai</key><string>ଐ</string>
<key>~o</key><string>ଓ</string>
<key>~au</key><string>ଔ</string>
<key>~rRr</key><string>ୠ</string>
<key>~Ahn</key><string>ଁ</string>
<key>~Am</key><string>ଂ</string>
<key>~Ahh</key><string>ଃ</string>
<key>~An</key><string>଼</string>
<key>~A</key><string>ଽ</string>
<key>a</key><string></string>
<key>*</key><string>୍</string>
<key>aa</key><string>ା</string>
<key>i</key><string>ି</string>
<key>ee</key><string>ୀ</string>
<key>u</key><string>ୁ</string>
<key>oo</key><string>ୂ</string>
<key>rR</key><string>ୃ</string>
<key>e</key><string>େ</string>
<key>ai</key><string>ୈ</string>
<key>o</key><string>ୋ</string>
<key>au</key><string>ୌ</string>
<key>rRr</key><string>ୠ</string>
<key>Ahn</key><string>ଁ</string>
<key>Am</key><string>ଂ</string>
<key>Ahh</key><string>ଃ</string>
<key>An</key><string>଼</string>
<key>A</key><string>ଽ</string>
<key>k</key><string>କ</string>
<key>kh</key><string>ଖ</string>
<key>g</key><string>ଗ</string>
<key>gh</key><string>ଘ</string>
<key>ng</key><string>ଙ</string>
<key>ch</key><string>ଚ</string>
<key>Ch</key><string>ଛ</string>
<key>j</key><string>ଜ</string>
<key>jh</key><string>ଝ</string>
<key>ny</key><string>ଞ</string>
<key>t</key><string>ଟ</string>
<key>T</key><string>ଠ</string>
<key>d</key><string>ଡ</string>
<key>D</key><string>ଢ</string>
<key>N</key><string>ଣ</string>
<key>th</key><string>ତ</string>
<key>Th</key><string>ଥ</string>
<key>dh</key><string>ଦ</string>
<key>Dh</key><string>ଧ</string>
<key>n</key><string>ନ</string>
<key>p</key><string>ପ</string>
<key>ph</key><string>ଫ</string>
<key>b</key><string>ବ</string>
<key>v</key><string>ବ</string>
<key>bh</key><string>ଭ</string>
<key>B</key><string>ଭ</string>
<key>Bh</key><string>ଭ</string>
<key>m</key><string>ମ</string>
<key>y</key><string>ଯ</string>
<key>r</key><string>ର</string>
<key>l</key><string>ଲ</string>
<key>L</key><string>ଳ</string>
<key>sh</key><string>ଶ</string>
<key>Sh</key><string>ଷ</string>
<key>s</key><string>ସ</string>
<key>h</key><string>ହ</string>
<key>R</key><string>ଡ଼</string>
<key>Rr</key><string>ଢ଼</string>
<key>Y</key><string>ୟ</string>
</dict>
</plist>
