<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>~a</key><string>ਅ</string>
<key>~aa</key><string>ਆ</string>
<key>~i</key><string>ਇ</string>
<key>~ee</key><string>ਈ</string>
<key>~u</key><string>ਉ</string>
<key>~oo</key><string>ਊ</string>
<key>~e</key><string>ਏ</string>
<key>~ae</key><string>ਏ</string>
<key>~ai</key><string>ਐ</string>
<key>~oa</key><string>ਓ</string>
<key>~o</key><string>ਓ</string>
<key>~au</key><string>ਔ</string>
<key>~An</key><string>ਂ</string>

<key>a</key><string></string>
<key>*</key><string>੍</string>
<key>aa</key><string>ਾ</string>
<key>i</key><string>ਿ</string>
<key>ee</key><string>ੀ</string>
<key>u</key><string>ੁ</string>
<key>oo</key><string>ੂ</string>
<key>e</key><string>ੇ</string>
<key>ae</key><string>ੇ</string>
<key>ai</key><string>ੈ</string>
<key>oa</key><string>ੋ</string>
<key>o</key><string>ੋ</string>
<key>au</key><string>ੌ</string>
<key>An</key><string>ਂ</string>

<key>k</key><string>ਕ</string>
<key>kh</key><string>ਖ</string>
<key>g</key><string>ਗ</string>
<key>gh</key><string>ਘ</string>
<key>nG</key><string>ਙ</string>
<key>ch</key><string>ਚ</string>
<key>Ch</key><string>ਛ</string>
<key>j</key><string>ਜ</string>
<key>jh</key><string>ਝ</string>
<key>ny</key><string>ਞ</string>
<key>t</key><string>ਟ</string>
<key>T</key><string>ਠ</string>
<key>d</key><string>ਡ</string>
<key>D</key><string>ਢ</string>
<key>N</key><string>ਣ</string>
<key>th</key><string>ਤ</string>
<key>Th</key><string>ਥ</string>
<key>dh</key><string>ਦ</string>
<key>Dh</key><string>ਧ</string>
<key>n</key><string>ਨ</string>
<key>p</key><string>ਪ</string>
<key>ph</key><string>ਫ</string>
<key>b</key><string>ਬ</string>
<key>bh</key><string>ਭ</string>
<key>B</key><string>ਭ</string>
<key>Bh</key><string>ਭ</string>
<key>m</key><string>ਮ</string>
<key>y</key><string>ਯ</string>
<key>r</key><string>ਰ</string>
<key>l</key><string>ਲ</string>
<key>L</key><string>ਲ਼</string>
<key>v</key><string>ਵ</string>
<key>sh</key><string>ਸ਼</string>
<key>Sh</key><string>ਸ਼</string>
<key>s</key><string>ਸ</string>
<key>h</key><string>ਹ</string>
<key>q</key><string>ਖ਼</string>
<key>Kh</key><string>ਖ਼</string>
<key>Gh</key><string>ਗ਼</string>
<key>G</key><string>ਗ਼</string>
<key>z</key><string>ਜ਼</string>
<key>R</key><string>ੜ</string>
<key>f</key><string>ਫ਼</string>
</dict>
</plist>
