<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>~a</key><string>অ</string>
<key>~aa</key><string>আ</string>
<key>~A</key><string>আ</string>
<key>~i</key><string>ই</string>
<key>~ee</key><string>ঈ</string>
<key>~I</key><string>ঈ</string>
<key>~u</key><string>উ</string>
<key>~oo</key><string>ঊ</string>
<key>~U</key><string>ঊ</string>
<key>~Rr</key><string>ঋ</string>
<key>~RrR</key><string>ৠ</string>
<key>~Ll</key><string>ঌ</string>
<key>~LlL</key><string>ৡ</string>
<key>~e</key><string>এ</string>
<key>~ai</key><string>ঐ</string>
<key>~o</key><string>ও</string>
<key>~au</key><string>ঔ</string>
<key>~AO</key><string>ঁ</string>
<key>~M</key><string>ং</string>
<key>~H</key><string>ঃ</string>
<key>AO</key><string>ঁ</string>
<key>M</key><string>ং</string>
<key>H</key><string>ঃ</string>
<key>a</key><string></string>
<key>aa</key><string>া</string>
<key>A</key><string>া</string>
<key>i</key><string>ি</string>
<key>ee</key><string>ী</string>
<key>I</key><string>ী</string>
<key>u</key><string>ু</string>
<key>oo</key><string>ূ</string>
<key>U</key><string>ূ</string>
<key>Rr</key><string>ৃ</string>
<key>RrR</key><string>ৄ</string>
<key>Ll</key><string>ঌ</string>
<key>LlL</key><string>ৡ</string>
<key>e</key><string>এ</string>
<key>ai</key><string>ঐ</string>
<key>o</key><string>ও</string>
<key>au</key><string>ঔ</string>
<key>*</key><string>্</string>
<key>k</key><string>ক</string>
<key>kh</key><string>খ</string>
<key>g</key><string>গ</string>
<key>gh</key><string>ঘ</string>
<key>G</key><string>ঙ</string>
<key>ch</key><string>চ</string>
<key>Ch</key><string>ছ</string>
<key>j</key><string>জ</string>
<key>jh</key><string>ঝ</string>
<key>nY</key><string>ঞ</string>
<key>t</key><string>ট</string>
<key>T</key><string>ঠ</string>
<key>d</key><string>ড</string>
<key>D</key><string>ঢ</string>
<key>N</key><string>ণ</string>
<key>th</key><string>ত</string>
<key>Th</key><string>থ</string>
<key>dh</key><string>দ</string>
<key>Dh</key><string>ধ</string>
<key>n</key><string>ন</string>
<key>p</key><string>প</string>
<key>ph</key><string>ফ</string>
<key>b</key><string>ব</string>
<key>v</key><string>ব</string>
<key>bh</key><string>ভ</string>
<key>B</key><string>ভ</string>
<key>Bh</key><string>ভ</string>
<key>m</key><string>ম</string>
<key>y</key><string>য</string>
<key>r</key><string>র</string>
<key>l</key><string>ল</string>
<key>sh</key><string>শ</string>
<key>Sh</key><string>ষ</string>
<key>s</key><string>স</string>
<key>h</key><string>হ</string>
<key>rR</key><string>ড়</string>
<key>rRr</key><string>ঢ়</string>
<key>Y</key><string>য়</string>
</dict>
</plist>
