<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>~a</key><string>अ</string>
<key>~aa</key><string>आ</string>    
<key>~A</key><string>आ</string>
<key>~i</key><string>इ</string>
<key>~ee</key><string>ई</string>    
<key>~I</key><string>ई</string>
<key>~u</key><string>उ</string>
<key>~oo</key><string>ऊ</string>    
<key>~U</key><string>ऊ</string>
<key>~tR</key><string>ऋ</string>
<key>~En</key><string>ऍ</string>
<key>~e</key><string>ए</string>
<key>~ai</key><string>ऐ</string>
<key>~Ao</key><string>ऑ</string>
<key>~o</key><string>ओ</string>
<key>~au</key><string>औ</string>
<key>~TR</key><string>ॠ</string>
<key>~AO</key><string>ँ</string> 
<key>~AOM</key><string>ॐ</string>
<key>~M</key><string>ं</string>    
<key>~H</key><string>ः</string>    
<key>~:</key><string>ः</string>    
<key>~aA</key><string>ऽ</string>   
<key>~|</key><string>।</string>
<key>~||</key><string>॥</string>
<key>AO</key><string>ँ</string>  
<key>H</key><string>ः</string>   
<key>:</key><string>ः</string>   
<key>Ao</key><string>ॉ</string>  
<key>M</key><string>ं</string>   
<key>aA</key><string>ऽ</string>  
<key>|</key><string>।</string>  
<key>||</key><string>॥</string> 
<key>a</key><string></string>
<key>aa</key><string>ा</string>    
<key>A</key><string>ा</string>
<key>i</key><string>ि</string>
<key>e</key><string>े</string>
<key>ee</key><string>ी</string>    
<key>I</key><string>ी</string>
<key>u</key><string>ु</string>
<key>oo</key><string>ू</string>    
<key>U</key><string>ू</string>
<key>ai</key><string>ै</string>
<key>o</key><string>ो</string>
<key>au</key><string>ौ</string>
<key>*</key><string>्</string>
<key>tR</key><string>ृ</string>
<key>TR</key><string>ॄ</string>
<key>En</key><string>ॅ</string>
<key>k</key><string>क</string>
<key>kh</key><string>ख</string>
<key>g</key><string>ग</string>
<key>gh</key><string>घ</string>
<key>G</key><string>ङ</string>
<key>ch</key><string>च</string>
<key>Ch</key><string>छ</string>
<key>j</key><string>ज</string>
<key>jh</key><string>झ</string>
<key>nY</key><string>ञ</string>
<key>t</key><string>ट</string>
<key>T</key><string>ठ</string>
<key>d</key><string>ड</string>
<key>D</key><string>ढ</string>
<key>N</key><string>ण</string>
<key>th</key><string>त</string>
<key>Th</key><string>थ</string>
<key>dh</key><string>द</string>
<key>Dh</key><string>ध</string>
<key>n</key><string>न</string>
<key>NnN</key><string>ऩ</string>
<key>p</key><string>प</string>
<key>ph</key><string>फ</string>
<key>b</key><string>ब</string>
<key>bh</key><string>भ</string>    
<key>B</key><string>भ</string>    
<key>Bh</key><string>भ</string>
<key>m</key><string>म</string>
<key>y</key><string>य</string>
<key>r</key><string>र</string>
<key>R</key><string>ऱ</string>
<key>l</key><string>ल</string>
<key>L</key><string>ळ</string>
<key>LlL</key><string>ऴ</string>
<key>v</key><string>व</string>
<key>sh</key><string>श</string>
<key>Sh</key><string>ष</string>
<key>s</key><string>स</string>
<key>h</key><string>ह</string>
<key>q</key><string>क़</string>
<key>qh</key><string>ख़</string>
<key>gG</key><string>ग़</string>
<key>z</key><string>ज़</string>
<key>DdD</key><string>ड़</string>
<key>RrR</key><string>ढ़</string>
<key>f</key><string>फ़</string>
<key>Y</key><string>य़</string>
</dict>
</plist>
