<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>*</key>
	<string>்</string>
	<key>-*</key>
	<string>்</string>
	<key>a</key>
	<string></string>
	<key>A</key>
	<string>ா</string>
	<key>aa</key>
	<string>ா</string>
	<key>ae</key>
	<string>ே</string>
	<key>Ahh</key>
	<string>ஃ</string>
	<key>ai</key>
	<string>ை</string>
	<key>au</key>
	<string>ௌ</string>
	<key>b</key>
	<string>ப</string>
	<key>bh</key>
	<string>ப</string>
	<key>c</key>
	<string>க</string>
	<key>ch</key>
	<string>ச</string>
	<key>d</key>
	<string>ட</string>
	<key>dh</key>
	<string>த</string>
	<key>e</key>
	<string>ெ</string>
	<key>E</key>
	<string>ே</string>
	<key>ee</key>
	<string>ே</string>
	<key>f</key>
	<string>ஃப </string>
	<key>g</key>
	<string>க</string>
	<key>h</key>
	<string>ஹ </string>
	<key>H</key>
	<string>ஃ</string>
	<key>i</key>
	<string>ி</string>
	<key>I</key>
	<string>ீ</string>
	<key>ii</key>
	<string>ீ</string>
	<key>j</key>
	<string>ஜ</string>
	<key>k</key>
	<string>க</string>
	<key>kh</key>
	<string>க</string>
	<key>l</key>
	<string>ல</string>
	<key>L</key>
	<string>ள</string>
	<key>m</key>
	<string>ம</string>
	<key>n</key>
	<string>ன</string>
	<key>N</key>
	<string>ண</string>
	<key>nG</key>
	<string>ங</string>
	<key>ng</key>
	<string>ங</string>
	<key>nj</key>
	<string>ஞ</string>
	<key>nn</key>
	<string>ண</string>
	<key>nN</key>
	<string>ண</string>
	<key>nY</key>
	<string>ஞ</string>
	<key>o</key>
	<string>ொ</string>
	<key>O</key>
	<string>ோ</string>
	<key>oa</key>
	<string>ோ</string>
	<key>oo</key>
	<string>ூ</string>
	<key>p</key>
	<string>ப</string>
	<key>q</key>
	<string>ந</string>
	<key>R</key>
	<string>ற</string>
	<key>r</key>
	<string>ர</string>
	<key>S</key>
	<string>ஸ</string>
	<key>s</key>
	<string>ச</string>
	<key>sh</key>
	<string>ஷ</string>
	<key>t</key>
	<string>ட</string>
	<key>th</key>
	<string>த</string>
	<key>U</key>
	<string>ூ</string>
	<key>u</key>
	<string>ு</string>
	<key>uu</key>
	<string>ூ</string>
	<key>v</key>
	<string>வ</string>
	<key>w</key>
	<string>வ</string>
	<key>y</key>
	<string>ய</string>
	<key>z</key>
	<string>ழ</string>
	<key>zh</key>
	<string>ழ</string>
	<key>~A</key>
	<string>ஆ</string>
	<key>~a</key>
	<string>அ</string>
	<key>~aa</key>
	<string>ஆ</string>
	<key>~ae</key>
	<string>ஏ</string>
	<key>~Ahh</key>
	<string>ஃ</string>
	<key>~ai</key>
	<string>ஐ</string>
	<key>~au</key>
	<string>ஔ</string>
	<key>~E</key>
	<string>ஏ</string>
	<key>~e</key>
	<string>எ</string>
	<key>~ee</key>
	<string>ஏ</string>
	<key>~I</key>
	<string>ஈ</string>
	<key>~i</key>
	<string>இ</string>
	<key>~ii</key>
	<string>ஈ</string>
	<key>~n</key>
	<string>ந</string>
	<key>~O</key>
	<string>ஓ</string>
	<key>~o</key>
	<string>ஒ</string>
	<key>~oa</key>
	<string>ஓ</string>
	<key>~oo</key>
	<string>ஓ</string>
	<key>~u</key>
	<string>உ</string>
	<key>~U</key>
	<string>ஊ</string>
</dict>
</plist>
