<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>~a</key><string>అ</string>
<key>~aa</key><string>ఆ</string>
<key>~A</key><string>ఆ</string>
<key>~i</key><string>ఇ</string>
<key>~ee</key><string>ఈ</string>
<key>~I</key><string>ఈ</string>
<key>~u</key><string>ఉ</string>
<key>~oo</key><string>ఊ</string>
<key>~U</key><string>ఊ</string>
<key>~e</key><string>ఎ</string>
<key>~ae</key><string>ఏ</string>
<key>~E</key><string>ఏ</string>
<key>~ai</key><string>ఐ</string>
<key>~o</key><string>ఒ</string>
<key>~oa</key><string>ఓ</string>
<key>~O</key><string>ఓ</string>
<key>~au</key><string>ఔ</string>
<key>~tR</key><string>ఋ</string>
<key>~TR</key><string>ౠ</string>
<key>~AO</key><string>ఁ</string>
<key>~M</key><string>ం</string>
<key>~H</key><string>ః</string>
<key>a</key><string></string>
<key>*</key><string>్</string>
<key>aa</key><string>ా</string>
<key>A</key><string>ా</string>
<key>i</key><string>ి</string>
<key>ee</key><string>ీ</string>
<key>I</key><string>ీ</string>
<key>u</key><string>ు</string>
<key>oo</key><string>ూ</string>
<key>U</key><string>ూ</string>
<key>O</key><string>ూ</string>
<key>e</key><string>ె</string>
<key>ae</key><string>ే</string>
<key>E</key><string>ే</string>
<key>ai</key><string>ై</string>
<key>o</key><string>ొ</string>
<key>oa</key><string>ో</string>
<key>O</key><string>ో</string>
<key>au</key><string>ౌ</string>
<key>tR</key><string>ృ</string>
<key>TR</key><string>ౄ</string>
<key>AO</key><string>ఁ</string> 
<key>M</key><string>ం</string>  
<key>H</key><string>ః</string> 
<key>k</key><string>క</string>    
<key>K</key><string>క</string>
<key>kh</key><string>ఖ</string>   
<key>Kh</key><string>ఖ</string>
<key>g</key><string>గ</string>
<key>gh</key><string>ఘ</string>
<key>G</key><string>ఙ</string>
<key>ch</key><string>చ</string>
<key>Ch</key><string>ఛ</string>
<key>j</key><string>జ</string>
<key>jh</key><string>ఝ</string>  
<key>J</key><string>ఝ</string>  
<key>Jh</key><string>ఝ</string>
<key>nY</key><string>ఞ</string>
<key>t</key><string>ట</string>
<key>T</key><string>ఠ</string>
<key>d</key><string>డ</string>
<key>D</key><string>ఢ</string>
<key>N</key><string>ణ</string>
<key>th</key><string>త</string>
<key>Th</key><string>థ</string>
<key>dh</key><string>ద</string>
<key>Dh</key><string>ధ</string>
<key>n</key><string>న</string>
<key>p</key><string>ప</string>
<key>ph</key><string>ఫ</string>
<key>b</key><string>బ</string>
<key>B</key><string>భ</string>    
<key>bh</key><string>భ</string>    
<key>Bh</key><string>భ</string>
<key>m</key><string>మ</string>
<key>y</key><string>య</string>
<key>r</key><string>ర</string>
<key>R</key><string>ఱ</string>
<key>l</key><string>ల</string>
<key>L</key><string>ళ</string>
<key>v</key><string>వ</string>
<key>sh</key><string>శ</string>
<key>Sh</key><string>ష</string>
<key>s</key><string>స</string>
<key>h</key><string>హ</string>
</dict>
</plist>
